# dependencies
node_modules

# build
dist
.vercel
.turbo

# debug
*.log

# testing
coverage

# misc
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# firebase / gcloud
/credentials
.runtimeconfig.*

# isolate-package output
isolate
