@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142 86% 28%;
    --primary-foreground: 356 29% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142 86% 28%;
    --chart-1: 139 65% 20%;
    --chart-2: 140 74% 44%;
    --chart-3: 142 88% 28%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
    --chart-ruby-1: 347 77% 50%;
    --chart-ruby-2: 352 83% 91%;
    --chart-ruby-3: 350 80% 72%;
    --chart-ruby-4: 351 83% 82%;
    --chart-ruby-5: 349 77% 62%;
    --chart-sapphire-1: 221.2 83.2% 53.3%;
    --chart-sapphire-2: 212 95% 68%;
    --chart-sapphire-3: 216 92% 60%;
    --chart-sapphire-4: 210 98% 78%;
    --chart-sapphire-5: 212 97% 87%;
    --chart-rainbow-1: 173 58% 39%;
    --chart-rainbow-2: 12 76% 61%;
    --chart-rainbow-3: 197 37% 24%;
    --chart-rainbow-4: 43 74% 66%;
    --chart-rainbow-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 86% 28%;
    --primary-foreground: 356 29% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142 86% 28%;
    --chart-1: 142 88% 28%;
    --chart-2: 139 65% 20%;
    --chart-3: 140 74% 24%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
    --chart-ruby-1: 347 77% 50%;
    --chart-ruby-2: 349 77% 62%;
    --chart-ruby-3: 350 80% 72%;
    --chart-ruby-4: 351 83% 82%;
    --chart-ruby-5: 352 83% 91%;
    --chart-sapphire-1: 221.2 83.2% 53.3%;
    --chart-sapphire-2: 212 95% 68%;
    --chart-sapphire-3: 216 92% 60%;
    --chart-sapphire-4: 210 98% 78%;
    --chart-sapphire-5: 212 97% 87%;
    --chart-rainbow-1: 220 70% 50%;
    --chart-rainbow-5: 160 60% 45%;
    --chart-rainbow-3: 30 80% 55%;
    --chart-rainbow-4: 280 65% 60%;
    --chart-rainbow-2: 340 75% 55%;
    }
}




@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

